/* ----- Main Styles Start ----- */
body {
    background-color: rgb(57, 59, 121);
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
}

.main {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

@media(max-width: 992px){
    body{
        margin-top: 45px;
        background-color: white;
    }
}

/*@media(max-width: 1200px) {*/
/*        .main {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/* ----- Header Start ----- */
.heading {
    text-align: center;
    line-height: 8px;
    color: rgb(57, 59, 121);
}
.heading p {
    width: 100%;
    height: 20px;
}
/* ----- Header End ----- */


/* ----- Menu Start ----- */
.menu {
    background-color: #ffffff;
    width: 250px;
    height: 200px;
    position: fixed;
    top: -5px;
    left: 10px;
    padding: 5px;
    z-index: 10;
    border: solid 2px #919AA1;
    display: grid;
    grid-template-columns: 82% 18%;
    grid-template-rows: 25% 25% 25% 10% 10% 5%;
}

@media (max-width: 992px) {
    .menu {
        width: 100%;
        left: 0;
        border: none;
        background-color: rgb(57, 59, 121);
    }

    button#open-btn {
        color: white;
    }
}

#reset-btn {
    margin-top: 5px;
    background-color: #AD8C8B;
    border: none;
    /*box-shadow: 0px 0px 3px #000;*/
    margin-bottom: 4px;
    z-index: 10;
    grid-column: 1 / span 2;
    grid-row: 1;
}
#reset-btn:hover{
    background-color: #FA817D;
}
#reset-a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#disciplineSelector select,
#countrySelector select {
    background-color: #ffffff;
    border: none;
    margin-bottom: 4px;
    z-index: 10;
    color: #000000;
    border: solid 1px #919AA1;
    width: 100%;
}
#disciplineSelector {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#countrySelector {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.toggle-btn {
    grid-column: 1 / span 2 ;
    grid-row: 5;
    
}
.row_one {
    grid-row: 1 !important;
}

#close-btn {
    background-color: #fff;
    border: 1px solid #7A8287;
    margin-bottom: 4px;
    z-index: 10;
    color: #919AA1;
    position: absolute;

}
#close-btn:hover {
    background-color: #eeeeee
}

#open-btn {
    display: none;
    background-color: transparent;
    margin-top: 2.5px;
    border: none;
    z-index: 10;
    color: #000000;
    position: absolute;
    width: 92%;
}
/* ----- Menu End ----- */


li {
    list-style-type: circle;
}


/* ----- Charts Start ----- */
#stackedchart {
    display: block;
    margin-left: auto;
    height: auto;
    z-index: -10;
    background-color: white;
    margin-bottom: 10px;
}
#linegraph {
    display: block;
    margin-left: auto;
    height: auto;
    margin-bottom: 10px;
    z-index: -10;
    background-color: white;
}
#piechart {
    display: block;
    margin-left: auto;

   
    z-index: -10;
    background-color: white;
}
#piechart-1 {
    display: block;
    margin-left: auto;

   
    z-index: -10;
    background-color: white;
}


#stackedchart svg,
#linegraph svg,
#piechart svg,
#piechart-1 svg{
    margin: 10px 10px;
    padding: 5px 5px;
}
/* ----- Charts End ----- */


/* ----- Chart Description Start ----- */
.graph-para {
    background-color: #fff;
    border: solid 2px #cedb9c;
    padding: 5px 5px;
}
.graph-para h2, h3 {
    text-align: center;
    color: rgb(57, 59, 121);
}
.graph-para h3 {
    color: #cedb9c;
}
.graph-para p {
    text-align: justify;
    font-size: 14px;
    padding: 0px 10px;
}
.graph-para i {
    color: rgb(57, 59, 121);
}
.graph-para span {
    color: rgb(57, 59, 121);
}

@media (max-width: 992px){
    .graph-para {
        border: none;
        padding: 0;
    }
}
/* ----- Chart Description End ----- */


/* ----- Main Styles End ----- */


/* ----- Footer Start ----- */
footer {
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-top: 25px;
    color: white;
}
@media (max-width: 992px) {
    footer{
        color: rgb(57, 59, 121);
    }
}
/* ----- Footer End ----- */